{% extends "layout.html" %}
{% block content %}
   
    <h1>Calcular</h1>
    <form action="/operasBas" method="post">
        <div class="m-3">
            <label for ="n1" class="form-label">Numero 1: </label>
            <input type="number" class="form-control" id="n1" name="n1"><br>
        </div>

        <div class="m-3">
            <label for ="n2" class="form-label">Numero 2: </label>
            <input type="number" class="form-control" id="n2" name="n2"><br>
        </div> 
            <button class="btn btn-primary" value="Calcular">Calcular</button> 
    </form>

    <h1>La suma de {{n1}} + {{n2}} es: {{res}}</h1>

{% endblock%}
